h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
}

h3 {
  color: #43a047;
  font-size: 25px;
}

h4 {
  font-size: 18px;
}

h5, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.columns {
  display: flex;
  flex-direction: row;
}

.descriptions, .titles {
  display: flex;
  flex-direction: column;
}

.descriptions {
  margin-left: 15px;
}

.titles {
  font-weight: bold;
}

.personal-info .titles {
  color: #43a047;
}

.descriptions div, .titles div{
  padding-bottom: 7px;
}

div.left {
  background-color: #9c27b0;
  padding: 30px;
}

div.right {
  background-color: #cddc39;
  padding: 30px;
  text-align: right;
}

@media (max-width: 767px) {
  div.right {
    text-align: left;
  }

  div.container.front-page {
    padding-top: 0px;
  }
}

div.front-page {
  color: #616161;
  text-transform: lowercase;
}

div.front-page h1, div.front-page ul.subtitle {
  color: white;
}

div.front-page a {
  color: #9c27b0;
}

div.pad-top-more {
  padding-top: 150px;
}

div.personal-info {
  margin-bottom: 20px;
}

div.resume {
  margin-bottom: 50px;
}

div.resume a {
  color: #00acc1;
}

div.education-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}
